// :root {
//   // Primario - Light Pink
//   --c-primary-50: 255, 235, 235;
//   --c-primary-100: 255, 220, 220;
//   --c-primary-200: 254, 200, 216;
//   --c-primary-300: 255, 170, 195;
//   --c-primary-400: 255, 140, 175;
//   --c-primary-500: 255, 110, 155;
//   --c-primary-600: 245, 85, 130;
//   --c-primary-700: 230, 65, 105;
//   --c-primary-800: 210, 50, 80;
//   --c-primary-900: 180, 35, 60;

//   // Secundario - Dusty Rose
//   --c-secondary-50: 230, 210, 225;
//   --c-secondary-100: 220, 190, 210;
//   --c-secondary-200: 210, 145, 188;
//   --c-secondary-300: 200, 110, 170;
//   --c-secondary-400: 190, 75, 150;
//   --c-secondary-500: 180, 40, 130;
//   --c-secondary-600: 165, 30, 110;
//   --c-secondary-700: 150, 20, 90;
//   --c-secondary-800: 135, 10, 70;
//   --c-secondary-900: 120, 5, 50;

//   // Neutral - Dark Purple
//   --c-neutral-50: 200, 190, 210;
//   --c-neutral-100: 180, 165, 195;
//   --c-neutral-200: 160, 140, 180;
//   --c-neutral-300: 150, 125, 170;
//   --c-neutral-400: 149, 125, 173;
//   --c-neutral-500: 140, 110, 160;
//   --c-neutral-600: 130, 95, 150;
//   --c-neutral-700: 115, 80, 140;
//   --c-neutral-800: 100, 65, 130;
//   --c-neutral-900: 85, 50, 120;
// }
:root {
  /* Primario - Blanco */
  --c-primary-50: 0, 0, 0;
  --c-primary-100: 200, 200, 200;
  --c-primary-200: 200, 200, 200;
  --c-primary-300: 200, 200, 200;
  --c-primary-400: 200, 200, 200;
  --c-primary-500: 200, 200, 200;
  --c-primary-600: 200, 200, 200;
  --c-primary-700: 200, 200, 200;
  --c-primary-800: 200, 200, 200;
  --c-primary-900: 200, 200, 200;

  /* Secundario - Rosa Rojo */
  --c-secondary-50: 255, 105, 97;
  --c-secondary-100: 255, 86, 79;
  --c-secondary-200: 255, 68, 61;
  --c-secondary-300: 255, 50, 44;
  --c-secondary-400: 255, 32, 27;
  --c-secondary-500: 140, 0, 0;
  --c-secondary-600: 239, 10, 6;
  --c-secondary-700: 223, 6, 2;
  --c-secondary-800: 207, 2, 0;
  --c-secondary-900: 191, 0, 0;

  /* Neutral - Burdeo Rojo */
  --c-neutral-50: 123, 0, 0;
  --c-neutral-100: 114, 0, 0;
  --c-neutral-200: 105, 0, 0;
  --c-neutral-300: 96, 0, 0;
  --c-neutral-400: 87, 0, 0;
  --c-neutral-500: 78, 0, 0;
  --c-neutral-600: 69, 0, 0;
  --c-neutral-700: 60, 0, 0;
  --c-neutral-800: 51, 0, 0;
  --c-neutral-900: 42, 0, 0;
}
